
header{
	background-color:#7BC342;
}


article{
	background-color: #BDC3C6;
}


footer{
	background-color: #006594;
}


aside{
	background-color: #6B7552;
}

/*
		Estilo 1

header{
	background-color:#4A6D18;
}


article{
	background-color: #FFFFFF;
}


footer{
	background-color: #524D4A;
}


aside{
	background-color: #6B7552;
}


*/




