
<div ng-controller="homeController">
	
	<div class="container">
	    <section class="main row">  

	        <article class="col-md-9  col-sm-8 col-xs-12 col-lg-9">
	                <h3>
	                	titulito
	                </h3>
	                <p>
	                	hfjkaldhsf
	                </p>
	        </article>  


	        <aside class="col-md-3 col-sm-4 col-xs-12 col-lg-3">
	        	jklsfdhgjkdhflgjksdlhfj
	        </aside>
	    </section>


	    <!--
	    xs pequeño 
	    sm medio pequeño 
	    md mediano 
	    lg largo
	    para borrar errores de tamaños
	    <div class="clearfix visible-sm-block"></div>
	    columna con varias columnas de espacio el espacio se cuenta de izquierda a derecha
	    col-md-offset-numbercols
	    <div class="row">
	        <div class="col-xs-12 col-sm-6 col-md-3">
	            <p>dsjkfñlhajskdglads</p>
	        </div>  
	        <div class="col-xs-12 col-sm-6 col-md-3">
	            <p>dsjkfñlhajskdglads</p>
	        </div>
	        <div class="col-xs-12 col-sm-6 col-md-3">
	            <p>dsjkfñlhajskdglads</p>
	        </div>
	        <div class="col-xs-12 col-sm-6 col-md-3">
	            <p>dsjkfñlhajskdglads</p>
	        </div>
	    </div>
	    -->

	    
	</div>


</div>
